@import url(reset.css);

.header{
	height: 60px;
	background-color: red;
	color: white;
	font: 700 25px Helvetica;
	text-align: center;
	line-height: 60px;
}

.outerbody{
	position: relative;
	font-size: 0px;
}



.recipe{
	display: inline-block;
	margin-left: 50px;
	margin-top: 50px;
	padding: 33px;

	width: 400px;
	height: 800px;
	border: 5px solid #E5E000;
	box-sizing: border-box;
	border-radius: 30px;

	
	color: black;

	font: 700 25px Helvetica;

}
.recipe p{
	font: 400 20px Times New Roman;
	margin-top: 31px;

}

.recipe.first{
	margin-left: 70px;
}

